.contato{
    text-align: justify;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-degrade);
    padding-top: 1em;
    padding-left: 1em;
}

.contato__texto{
    font-size: 16px;
    font-weight: 300;
    color: var(--azul-degrade);
    padding: 0.5em  1em;
}

.contato__pesquisa{
   background-color: transparent;
    padding: 1em;
    text-align: center;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 100%;
    color: var(--azul);
    
}

.contato__pesquisa::placeholder {
    font-size: 14px;
    font-family: var(--font-principal);
    font-weight: 400;
    color: var(--azul-degrade);
    text-align: center;
    background: url(../imagem/Email.svg) no-repeat ;
    background-position: 1em;
    padding: 1em;
}
